<%= form_with model: [ @item, @item.comments.build ] do |form| %>
    <p>
        <%= form.label :commenter %><br>
        <%= form.text_field :commenter %>
    </p>
    <p>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
    </p>

    <p>
        <%= form.label :comment_status %><br>
        <%= form.select :comment_status, CommentVisible::VALID_COMMENT_STATUSES, selected: "public" %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>
